LostNestQuestClient/LostNestQuestClient/Connected Services/HTTP/LostNestQuestService.Contracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LostNestQuestService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LostNestQuestService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LostItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LostItem" nillable="true" type="tns:LostItem" />
  <xs:complexType name="FoundItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoundItem" nillable="true" type="tns:FoundItem" />
  <xs:complexType name="ArrayOfLostItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LostItem" nillable="true" type="tns:LostItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLostItem" nillable="true" type="tns:ArrayOfLostItem" />
  <xs:complexType name="ArrayOfFoundItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FoundItem" nillable="true" type="tns:FoundItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFoundItem" nillable="true" type="tns:ArrayOfFoundItem" />
</xs:schema>