LostNestQuestClient/LostNestQuestClient/Connected Services/HTTP/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LostNestQuestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILostNestQuestService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LostNestQuestService.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILostNestQuestService_ReportLostItem_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportLostItem" />
  </wsdl:message>
  <wsdl:message name="ILostNestQuestService_ReportLostItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportLostItemResponse" />
  </wsdl:message>
  <wsdl:message name="ILostNestQuestService_ReportFoundItem_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportFoundItem" />
  </wsdl:message>
  <wsdl:message name="ILostNestQuestService_ReportFoundItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportFoundItemResponse" />
  </wsdl:message>
  <wsdl:message name="ILostNestQuestService_GetAllLostItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLostItems" />
  </wsdl:message>
  <wsdl:message name="ILostNestQuestService_GetAllLostItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLostItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ILostNestQuestService_GetAllFoundItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFoundItems" />
  </wsdl:message>
  <wsdl:message name="ILostNestQuestService_GetAllFoundItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFoundItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILostNestQuestService">
    <wsdl:operation name="ReportLostItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ILostNestQuestService/ReportLostItem" message="tns:ILostNestQuestService_ReportLostItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILostNestQuestService/ReportLostItemResponse" message="tns:ILostNestQuestService_ReportLostItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportFoundItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ILostNestQuestService/ReportFoundItem" message="tns:ILostNestQuestService_ReportFoundItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILostNestQuestService/ReportFoundItemResponse" message="tns:ILostNestQuestService_ReportFoundItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLostItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ILostNestQuestService/GetAllLostItems" message="tns:ILostNestQuestService_GetAllLostItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILostNestQuestService/GetAllLostItemsResponse" message="tns:ILostNestQuestService_GetAllLostItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFoundItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ILostNestQuestService/GetAllFoundItems" message="tns:ILostNestQuestService_GetAllFoundItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILostNestQuestService/GetAllFoundItemsResponse" message="tns:ILostNestQuestService_GetAllFoundItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILostNestQuestService" type="tns:ILostNestQuestService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILostNestQuestService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ReportLostItem">
      <soap12:operation soapAction="http://tempuri.org/ILostNestQuestService/ReportLostItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportFoundItem">
      <soap12:operation soapAction="http://tempuri.org/ILostNestQuestService/ReportFoundItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLostItems">
      <soap12:operation soapAction="http://tempuri.org/ILostNestQuestService/GetAllLostItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFoundItems">
      <soap12:operation soapAction="http://tempuri.org/ILostNestQuestService/GetAllFoundItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LostNestQuestService">
    <wsdl:port name="NetTcpBinding_ILostNestQuestService" binding="tns:NetTcpBinding_ILostNestQuestService">
      <soap12:address location="net.tcp://localhost:8080/LostNestQuestService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/LostNestQuestService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-DKAJFNA4\LENOVO</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>