LostNestQuestClient/LostNestQuestClient/Connected Services/HTTP/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LostNestQuestService.Contracts" />
  <xs:element name="ReportLostItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LostNestQuestService.Contracts" minOccurs="0" name="lostItem" nillable="true" type="q1:LostItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportLostItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportLostItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportFoundItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LostNestQuestService.Contracts" minOccurs="0" name="foundItem" nillable="true" type="q2:FoundItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportFoundItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportFoundItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLostItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLostItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LostNestQuestService.Contracts" minOccurs="0" name="GetAllLostItemsResult" nillable="true" type="q3:ArrayOfLostItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFoundItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFoundItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LostNestQuestService.Contracts" minOccurs="0" name="GetAllFoundItemsResult" nillable="true" type="q4:ArrayOfFoundItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>